* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header section */
.nav {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    margin: 0 auto;
}

.gamer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.gamer-logo img {
    width: 86px;
    height: 40px;
}

.gamer-logo .logo-tittle {
    text-align: center;
    font-size: 43px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

nav>ul li {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav .btn-primary {
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* banner section */
.banner {
    background-color: rgb(252, 251, 254);
    padding-top: 40px;
}

.banner-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.banner-title-1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

}

.banner-title-2 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
}

.banner ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;

}

.banner>ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.banner-btn {
    display: flex;
    gap: 10px;
}

.btn-1 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    padding: 18px 30px;
    border-radius: 40px;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.btn-2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 30px;
    border-radius: 40px;
    border: none;
    background: #4ec5f7;
}

.banner-img {
    width: 360px;
}

.banner-img img {
    width: 100%;
}

/* online games section */
.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 15px;
}

.card-body {
    position: absolute;
    top: 35%;
    text-align: center;
    left: 30%;
    display: none;
}

.card-body p {
    color: #F948B2;
}

.card:hover .card-body {
    display: block;

}

.card:hover .game-img {
    border: 5px solid #F948B2;
    border-radius: 20px;
    filter: brightness(30%);
}

.online-game-title .text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}


.online-game .p {
    padding-top: 12px;
    padding-bottom: 30px;
    color: #534c64;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90vw;
    padding-left: 46px;
    padding-right: 70px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    padding-top: 10px;
    color: #534c64;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 100px;
}


/* play instantly section */

.play-instantly-section {
    margin-bottom: 200px;
}

.play-instantly-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 150px;

}

.play-instantly-text {
    text-align: right;
    width: 350px;
}

.play-instantly-title {
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.text-color-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-instantly-img {
    width: 540px;
    position: relative;

}

.play-instantly-img>img {
    width: 100%;

}

.play-instantly-img2 {
    width: 40%;
    position: absolute;
    bottom: -90px;
    left: -100px;
}

/* cartoon button section */
.cartoon-btn-content {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0 auto;

}

.cartoon-btn-container {
    display: flex;
    column-gap: 2px;
    row-gap: 10px;
    justify-content: center;
    padding-top: 50px;
}

.cartoon-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 45px;
}

.cartoon-btn:hover {
    border: 1px solid #f948b2;
}

.cartoon-btn:hover .cartoon-text {
    color: #f948b2;
}

.cartoon-btn img {
    width: 18%;
    padding-left: 10px;
}

.cartoon-text {
    color: #0B0223;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}


.cartoon-btn-content-2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.cartoon-btn-container- {
    display: flex;
    column-gap: 2px;
    row-gap: 10px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.cartoon-btn-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 45px;
}

.cartoon-btn-2:hover {
    border: 1px solid #f948b2;
}

.cartoon-btn-2:hover .cartoon-text {
    color: #f948b2;
}

.cartoon-btn-2 img {
    width: 18%;
    padding-left: 10px;
}

.cartoon-text-2 {
    color: #0B0223;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* footer section */

.bg-footer {
    background: #0b0223;
    margin-top: 150px;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.foot-logo {
    display: flex;
    padding-bottom: 30px;
}

.logo2 {
    font-size: 35px;
    font-weight: 700;
}

.logo2 .diff-color {
    color: #ff42a5;
}

.foot-logo img {
    margin-right: 10px;
}

.footer-menu {
    display: flex;
    padding-bottom: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 28px;
}

.foot-icon {
    display: flex;
    padding-bottom: 30px;
}

.foot-icon span {
    margin-right: 30px;
    font-size: 30px;
}

.foot-sub {
    display: flex;
    padding-bottom: 20px;
}

.foot-sub a {
    text-decoration: none;
    color: #fff;
    margin-right: 28px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.copy-write {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}